<div ng-if="!comment.edit">
	<span ng-if="!user" ng-bind="comment.user.name"></span>
	<strong ng-if="user"><a href="/users/{{comment.user._id}}" ng-bind="comment.user.name"></a></strong>

	<small class="text-muted">
		<time title="{{comment.created_at | date: 'dd MMM yyyy, hh:mm:ss'}}" ng-bind="timeSince(comment.created_at)"></time>
	</small>

	<br />
	
	<div class="comment-content" ng-bind="comment.content"></div>

	<small class="actions">
		<span ng-if="user.userid === comment.user._id">
			<a href="#" ng-click="comment.edit = true">Edit</a> &bull; <a href="#" ng-click="deleteComment(comment._id)">Delete</a>
		</span>

		<span ng-if="wasEdited(comment.modified_at, comment.created_at)">
			&bull;
			Edited
			<time title="{{ comment.modified_at | date: 'dd MMM yyyy, hh:mm:ss' }}" ng-bind="timeSince(comment.modified_at)"></time>
		</span>
	</small>
</div>

<form ng-if="comment.edit" ng-submit="updateComment(comment)">
	<div class="form-group">
		<textarea ng-disabled="editing" class="form-control" cols="30" rows="4" ng-model="comment.content"></textarea>
	</div>

	<button ng-disabled="editing" ng-class="{'disabled' : editing}" type="submit" class="btn btn-default">Save changes <img ng-if="editing" width="17" src="/assets/images/loader.svg"></button>
</form>