<div class="content text-center" ng-if="main.user.admin">
	<a href="/admin/users">Users</a> &bull;
	<a href="/admin/pages">Pages</a> &bull;
	<a href="/admin/blogs">Blogs</a>
</div>

<div class="content" ng-if="main.user.admin">
	<ul class="breadcrumb">
		<li><a href="/admin/blogs">Blogs</a></li>
		<li>Create Blog</li>
	</ul>

	<form ng-submit="create()">
		<div class="form-group">
			<label class="control-label">Title</label>

			<input type="text" class="form-control" ng-model="blog.title" required>
		</div>

		<div class="form-group">
			<label class="control-label">Content</label>
			
			<textarea class="form-control" ng-model="blog.content" cols="30" rows="10" required></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Create Blog</button>
	</form>
</div>